*{
    margin: 0;padding: 0;
}

/* Header and menu->*/
.menu, header {
    background-color:rgb(144, 187, 155);
    text-align:center;
    padding: 0 300px 0 300px;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

h1{
    padding: 20px 10px 10px 10px;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    font-size: x-large;
    display: inline-block;
    padding: 10px 30px;
}

h1 a {
  text-decoration: none;
  color: white;
}

.container{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

footer{
    background-color:rgb(144, 187, 155);
    color:white;
    clear:both;
    text-align:center;
    padding: 10px;
}

footer p, footer a { font-size: 16px;}

.left{
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:25%;
    float:left;
    padding:5px;

}
.right{
    width:70%;
    height:700px;
    background-color:#ffffff;
    float:left;
    padding:10px;
}

.left img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.right img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width:95% ;height: 50%;
}

.left ul{
    padding-left: 6%;
    padding-right: 6%;
}


h2{
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

#section1>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width:75% ;height:60%;
}

#section2>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width:80% ;height:80%;
}

.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width:70% ;height:60%;
}

a {
  text-decoration: none;
  color: #2D3B31;
}
a:hover {color: #688770;}
