*{
    margin: 0;
    padding: 0;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

/* Header and menu*/
.menu, header {
    background-color:rgb(144, 187, 155);
    text-align:center;
    padding: 0 300px 0 300px;
}

h1{
    padding: 15px 10px 10px 10px;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    font-size: x-large;
    display: inline-block;
    padding: 10px 30px;
}

h1 a {
  text-decoration: none;
  color: white;
}

/*Footer*/
footer{
    background-color:rgb(144, 187, 155);
    color:white;
    clear:both;
    text-align:center;
    padding: 10px;
}

footer p, footer a { font-size: 16px;}

/*Text*/
h2{
    font-size: 27px;
    color: #1E3B2B;
    padding-bottom: 10px;
}

p{
    margin-right: 10px;
    font-size: 18px;
    line-height: 26px;
}

a {
  text-decoration: none;
  color: #2D3B31;
}
a:hover {color: #688770;}
ul { list-style-type: none;}

 /*Images*/
#city {
    display: block;
    margin: 0 auto 30px auto;
    padding-top: 20px;
    width:70% ;height:60%;
}
.facts img { margin-bottom: 5px;}
.left {
  float: left;
  padding: 20px;
}
.right {
  float: right;
  padding: 20px;
}

/*Sections*/
.facts {
    line-height:23px;
    background-color:#eeeeee;
    float: right;
    padding: 10px 25px;
    margin: 30px;
    margin-top: 0;
}
section {
  background-color:#eeeeee;
  margin: 30px;
  padding: 30px;
}
section ul {
  display: inline-block;
  padding: 20px;
}

.attractions { background-color: white; }
